<!-- 영상이 배열되어있는 화면이 나타나는 html 파일 -->
<!-- 프론트 쪽에서 home 페이지를 만들면 바로 반영할 예정입니다 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 유튜브 재생 목록</title>
    <link rel="stylesheet" href="/styles/sidebar.css" />
    <link rel="stylesheet" href="/styles/video-list.css" />
    <!-- 유튜브 iframe 불러오기 -->
    <script src="https://www.youtube.com/iframe_api" defer></script>
    <!-- 시간 제한을 설정하는 자바스크립트 코드 불러오기 -->
    <script src="/scripts/time.js"></script>
    <script
      src="https://kit.fontawesome.com/510fbf9652.js"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>

    <%- include('includes/sidebar') %>

    <div id="main-content">
      <ul>
        <% for(var i=0; i < videos.length; i++) { %>
        <li>
          <div class="video">
            <h4><%= videos[i].title %></h4>
            <img
              src="<%= videos[i].thumbnail || '/src/default-thumbnail.png' %>"
              alt="<%= videos[i].title %> thumbnail"
            />
            <a href="http://localhost:8080/video/<%= videos[i].videoId %>"
              >Watch Video</a
            >
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
  
</html>
